@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

.primary-button {
  background-color: $color-primary;
  border-radius: 5px;
  border: none;
  width: 80%;
  height: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  color: $color-white;

  @include tablet {
    font-size: 1.2rem;
    padding: 0.5rem 0;
  }

  @include desktop {
    @include header;
  }

  &:hover {
    background-color: $color-primary-light;
    transition: 0.3s all ease-out;
  }
}
