@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

.search-page {
  background-color: $color-primary-light;
  width: 100%;
  padding: 3rem 4rem;
  display: flex;
}

.search-list {
  width: 60%;
  margin: 0rem 4rem;

  &__header {
    @include large-header;
    font-size: 3rem;
    color: $color-white;
    text-align: center;
    margin-bottom: 1rem;
  }
}
