@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

.footer {
  background-color: $color-primary;
  color: $color-white;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;

  &__content {
    margin-right: 2.5rem;
  }

  &__header {
    @include header;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1rem;
    &:hover {
      text-decoration: underline;
    }
  }

  &__icons {
    margin-right: 1rem;
  }
}
