@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

.alternate-button {
  background-color: $color-secondary;
  border-radius: 5px;
  border: none;
  width: 80%;
  height: 100%;
  text-transform: uppercase;
  color: $color-white;
  @include header;
  font-size: 1.3rem;

  &:hover {
    background-color: $color-secondary-light;
    transition: 0.3s all ease-out;
  }
}
