$color-primary: #f9b066;
$color-primary-light: #ffce8b;

$color-secondary: #8ccde3;
$color-secondary-light: #bfedf7;

$color-text: #3d3d3d;
$color-text-light: #949494;
$color-background: #ebebeb;
$color-white: #ffffff;
$color-error: #c94515;
$color-pass: #228c22;
